<div class="container">
    <div class="row">
        <div class="col-lg  ">
            <div class="text-center">
                <img src="../../assets/myPic.jpg" alt="photo de profile" width="256" height="256" class="rounded-circle shadow border">
            </div>
        </div>
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Présentation</h2>
                <p>Bienvenue dans mon site personel. Je m'appelle Ibrahim, et je suis un étudiant en licence informatique à l'université de Pau</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Aperçu des Projets</h2>
                <h4 >{{featuredProject.name}}</h4>
                
            </div>
        </div>
    </div>
</div>
